.app {
  text-align: center;
  margin-top: 20px;
}

.weather-description {
  height: 100%;
  background-position: center;
  background-size: cover;
  margin-bottom: 30px;
}

.clouds {
  background: url('../src/assets/images/cloudy.png');
}

.thunderstorm {
  background: url('../src/assets/images/thunderstorm.png');
}

.rain {
  background: url('../src/assets/images/rain.png');
}

.snow {
  background: url('../src/assets/images/snow.png');
}

.drizzle {
  background: url('../src/assets/images/drizzle.jpg');
}

.extreme {
  background: url('../src/assets/images/extreme.jpg');
}

.sunny {
  background: url('../src/assets/images/sunny.png');
}

.clear {
  background: url('../src/assets/images/Clear.jpg');
  background-size: cover;
}